.products-section{
    text-align: center;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.products-section hr{
    width: 250px;
    height: 4px;
    border-radius: 10px;
    border: none;
    background-color: #FF4C24;
}
.menu-items{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
}
.search-category{
    width: 300px;
    padding: 12px 24px;
    border: 1px solid #FF4C24;
    outline: none;
    margin-top: 24px;
    border-radius: 40px;
    text-transform: capitalize;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
::placeholder{
    font-size: 16px
}